*{
    font-family: 'M PLUS 1p', sans-serif;
}
body{
    margin: 0;
}
html
{
    scroll-behavior: smooth;
}
.PCui{
    display: flex;
    justify-content: flex-end;
    padding: 0%;
  }
.PCli
{
    list-style: none;
    margin-left: 2vh;
    font-size: 3vh;
    color: #1d1d1fda;
    display: inline-block;
    position: relative;
    text-decoration: none;
}
.PCli::after
{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background: #1d1d1fda;
    transition: all 0.5s ease 0s;
  }
  .PCli:hover {
    cursor: pointer;
  }
  .PCli:hover::after {
    width: 100%;
  }
  .header{
      display: none;
  }
  @media screen and (max-width:500px) { 
        .PCui{
            display: none;
        }
        .header {
            display: block;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 40px;
            background-color: #fff45e;
            box-shadow: 0 2px 6px rgba(0,0,0,.16);
          }
          .global-nav {
            position: fixed;
            right: -320px;
            top: 0;
            width: 300px;
            height: 100vh;
            padding-top: 40px;
            background-color: #fff45eb2;
            transition: all .6s;
            z-index: 200;
            overflow-y: auto;
          }
          .hamburger {
            position: absolute;
            right: 0;
            top: 0;
            width: 40px;
            height: 40px;
            cursor: pointer;
            z-index: 300;
          }
          .global-nav__list {
            margin: 0;
            padding: 0;
            list-style: none;
          }
          .global-nav__item {
            text-align: center;
            padding: 0 14px;
          }
          .global-nav__item a {
            display: block;
            padding: 8px 0;
            border-bottom: 1px solid #eee;
            text-decoration: none;
            color: #111;
          }
          .global-nav__item a:hover {
            background-color: #fff45e);
          }
          .hamburger__line {
            position: absolute;
            left: 11px;
            width: 18px;
            height: 1px;
            background-color: rgb(0, 0, 0);
            transition: all .6s;
          }
          .hamburger__line--1 {
            top: 14px;
          }
          .hamburger__line--2 {
            top: 20px;
          }
          .hamburger__line--3 {
            top: 26px;
          }
          .black-bg {
            position: fixed;
            left: 0;
            top: 0;
            width: 100vw;
            height: 100vh;
            z-index: 100;
            background-color: #000;
            opacity: 0;
            visibility: hidden;
            transition: all .6s;
            cursor: pointer;
          }
          /* 表示された時用のCSS */
          .nav-open .global-nav {
            right: 0;
          }
          .nav-open .black-bg {
            opacity: .8;
            visibility: visible;
          }
          .nav-open .hamburger__line--1 {
            transform: rotate(45deg);
            top: 20px;
          }
          .nav-open .hamburger__line--2 {
            width: 0;
            left: 50%;
          }
          .nav-open .hamburger__line--3 {
            transform: rotate(-45deg);
            top: 20px;
          }
        
    }

  .PC{
    display: flex;
    justify-content: space-between;
    background-color:#fff45e;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
  }
.top
{
    width: 100vw;
    height: 95vh;
    flex-wrap: wrap;
    display: flex;
    align-content: center;
    justify-content: center;
    padding-bottom: 5vh;
}
.line
{
    width: 40vw;
    min-width: 300px;
    height: 0.6vh;
    background: #fff45e;
    margin: 0 auto;
}
.line2
{
    width: 40vh;
    height: 0.6vh;
    background: #fff45e;
    margin: 0 auto;
}
.line3
{
    width: 0.6vh;
    height: 11vh;
    margin: 0 1vh;
    background: #5ff873;
}
.titleline
{
    display: flex;
    align-content: center;
    justify-content: center;
}
.title
{
    text-align: center;
    font-size: 6.5vh;
    line-height: 11vh;
    color: #1d1d1fda;
}
.title{
    margin: 0; 
    padding: 0;
    width: 100%;
}
.container
{
    margin-top: 2vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.item
{
    text-align: center;
    width: 16vw;
    font-size: 2vh;
    height: 4vh;
    line-height: 4vh;
    background-color: #78c9f8a6;
    color: #040418;
    margin: 1vw 1.5vw;
}
.item:hover {
    background: #6d6ffd;
    color:#ffffff;
    transition: all 0.4s ease 0s;
}
a {
    text-decoration: none;
}
.smalltitle
{
    padding-top: 100px;
    margin-top: 2vw;
    text-align: center;
    font-size: 5vh;
    display: flex;
    align-content: center;
    justify-content: center;
    color: #1d1d1fda;
}
.Profile
{  text-align: center;
}
.icon
{
    margin-top: 2vw;
    width: 7vw;
    min-width: 130px;
    height: auto;
    border-radius: 20%;
}
.name
{
    margin-top: 10px;
    font-size: 4vh;
    color: #040418;
}
.text
{
    font-size: 3vh;
    text-align: center;
    color: #040418;
}
.text2
{
    font-size: 4vh;
    text-align: right;
    margin: 2vh 3vh;
    width: 15vh;
    color: #040418;
}
.skill
{
    display: flex;
    justify-content: center;
}
.Unity
{
    width: 40vh;
    height: 3vh;
    background:linear-gradient(90deg,#fff45e 0%, #fff45e 65%,#82cdf894 65%,#82cdf894 100%);
    margin: auto 0;
}
.Blender
{
    width: 40vh;
    height: 3vh;
    background: #82cdf894;
    background:linear-gradient(90deg,#fff45e 0%, #fff45e 65%,#82cdf894 65%,#82cdf894 100%);
    margin: auto 0;
}
.HTML
{
    width: 40vh;
    height: 3vh;
    background: #82cdf894;
    background:linear-gradient(90deg,#fff45e 0%, #fff45e 25%,#82cdf894 25%,#82cdf894 100%);
    margin: auto 0;
}
@media screen and (max-width:500px) { 
.skill > div{
    width: 25vh;
}
}
.Works
{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 70vw;
    margin: 0 15vw;
}
.Worksmein
{
    width: 15vw;
    height: 15vw;
    min-width: 130px;
    min-height: 130px;
    background: #fff45e8c;
    margin: 2.5vh;
    text-align: center;
    border: solid 2px #040418;
    transition: all 0.3s ease 0s;
  }
@media screen and (max-width:500px) { 
    .Works{
        width:100vw;
        margin: 0;
    }
    .Worksmein
{
    width: 16vw;
    height: 16vw;
    min-width: 140px;
    min-height: 140px;
    background: #fff45e8c;
    margin: 1.5vh;
    text-align: center;
    border: solid 2px #040418;
    transition: all 0.3s ease 0s;
  }
}
.Worksmein:hover 
{
  box-shadow: 0 10px 13px 0 rgba(0, 0, 0, 0.25);
  transform: translateY(-0.2000em);
}
.worksimg
{
  width: 15vw;
  height: 9vw;
  min-width: 140px;
  min-height: 90px;
}
.twitter
{
  width: 7vh;
  min-width: 80px;
  height: auto;
  border-radius: 20%;
}
.qiita{
    width: 15vh;
    min-width: 120px;
    height: auto;
    border-radius: 20%;
  }
.contact
{
    margin-top: 6vh;
    display: flex;
    justify-content: center;
}
.workstitle
{
  font-size: 2vh;
  margin: 0;
  color: #040418;
  padding: 0%;
}
.contactmain
{
  width: 12vw;
  height: 12vw;
  min-width: 130px;
  min-height: 130px;
  background: #fff45e8c;
  margin: 1vw;
  text-align: center;
  border: solid 2px #040418;
  transition: all 0.3s ease 0s;
}
.contactmain:hover
{
  box-shadow: 0 10px 13px 0 rgba(0, 0, 0, 0.25);
  transform: translateY(-0.2000em);
}
.Contacttext
{
  font-size: 3vh;
  margin: 0;
  color: #040418;
  padding: 0%;
}
